@value dato-strl: 35px;

.kalender {
    margin-left: calc(var(--a-spacing-2) * -1);
    padding-bottom: var(--a-spacing-8);
    width: calc(var(--a-spacing-4) + 100%);
}

.kalender[aria-disabled="true"] {
    pointer-events: none;
}

.headerKontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    display: flex;
    flex-direction: column;
    font-weight: var(--a-font-weight-bold);
    margin: 0;
}

.header span {
    color: var(--a-text-subtle);
    font-size: var(--a-font-size-medium);
    font-weight: var(--a-font-weight-regular);
}

.ukerKontainer {
    display: grid;
    gap: var(--a-spacing-10);
    grid-auto-flow: row;
    transition: all ease-in-out 200ms;
}

.ukeRadKontainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--a-spacing-2);
    justify-items: center;
}

.ukedagKontainer {
    display: grid;
    margin-top: var(--a-spacing-4);
    gap: var(--a-spacing-2);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-bottom: var(--a-spacing-2);
}

.ukedag {
    font-size: var(--a-font-size-small);
}

.ytreKontainer {
    padding: 0.5rem 1rem;
    margin: 1.5rem -1rem;
    border-radius: var(--a-border-radius-large);
}

.erUtfylt {
    pointer-events: none;
    background: var(--a-gray-50);
}

@media screen and (min-width: 768px) {
    .ukedag {
        font-size: var(--a-font-size-medium);
    }

    .header {
        font-size: var(--a-font-size-heading-medium);
    }
}


