.dager {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    gap: var(--a-spacing-1) var(--a-spacing-6);
    padding: 0;

    li {
        list-style: none;
    }

    &.medHelg {
        grid-template-rows: repeat(7, auto);
    }
}

.dag {
    border-radius: var(--a-border-radius-medium);

    & > * {
        display: grid;
        grid-template-columns: 1.5rem auto;
        grid-column-gap: 0.25rem;
    }

    .over {
        padding: 0.625rem;

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }

    .under {
        padding: 0.25rem 0.625rem 0.25rem 0.625rem;
    }
}
