.dager {
    display: grid;
    gap: var(--a-spacing-1) var(--a-spacing-4);
    padding: 0;

    li {
        list-style: none;
    }

    & > .ukenr {
        margin-top: 0.75rem;
    }

    @media screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, auto);

        &.medHelg {
            grid-template-rows: repeat(8, auto);
        }
    }
}

.dag {
    border-radius: var(--a-border-radius-medium);

    & > * {
        display: grid;
        grid-template-columns: 1.5rem auto;
        grid-column-gap: 0.25rem;
    }

    .over {
        padding: 0.625rem;

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }

    .under {
        padding: 0.25rem 0.625rem 0.25rem 0.625rem;
    }
}
