.dag {
    padding: 0.25rem 0.625rem;
    border: 1px solid var(--ax-neutral-500);
    border-radius: var(--ax-radius-8);
    display: flex;
    align-items: center;
    min-height: 3.625rem;

    &:hover {
        background: var(--ax-neutral-200);
        color: unset;
    }
}

.valgt {
    background: var(--ax-success-200);

    &:hover {
        background: var(--ax-success-300);
    }
}
