@use '../../styles/MeldekortStatusStyles.module.scss' as status;

.button {
    align-self: start;
}

.dagSelectContainer {
    display: grid;

    @media screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, auto);

        &.medHelg {
            grid-template-rows: repeat(8, auto);
        }
    }

    & > .ukenr {
        margin-top: 0.75rem;
    }
}

.ikkeTiltaksdag {
    select {
        @include status.ikkeTiltaksdag;
    }
}

.ikkeBesvart {
    select {
        @include status.ikkeBesvart;
    }
}

.deltattUtenLønn,
.fraværGodkjentAvNav,
.sterkeVelferdsgrunnerEllerJobbintervju{
    select {
        @include status.deltattUtenLønn;
    }
}

.deltattMedLønn {
    select {
        @include status.deltattMedLønn;
    }
}

.syk,
.syktBarn {
    select {
        @include status.syk;
    }
}

.fraværAnnet {
    select {
        @include status.fraværAnnet;
    }
}
