.meldekortDagerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--a-spacing-6);

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.oppsummeringUkeContainer > :not(:last-child) {
    margin-bottom: 4px;
}

.alertInfo {
    background: transparent;
    border: none;
    padding-left: 0;
}

.avbrytEndringButton {
    align-self: start;
}
