.dagOppsummeringContainer {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    gap: var(--a-spacing-1) var(--a-spacing-6);
    padding: 0;

    li {
        list-style: none;
    }

    &.medHelg {
        grid-template-rows: repeat(7, auto);
    }
}

.oppsummeringUkeContainer > :not(:last-child) {
    margin-bottom: 4px;
}

.alertInfo {
    background: transparent;
    border: none;
    padding-left: 0;
}

.avbrytEndringButton {
    align-self: start;
}
