.button {
    align-self: start;
}

.dagSelectContainer {
    display: grid;

    @media screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, auto);

        &.medHelg {
            grid-template-rows: repeat(8, auto);
        }
    }

    & > .ukenr {
        margin-top: 0.75rem;
    }
}

.ikkeTiltaksdag {
    & select {
        background-color: var(--ax-bg-accent-soft);
        border-color: var(--ax-bg-accent-strong);
    }
}

.ikkeBesvart {
    & select {
        background: var(--ax-bg-neutral-soft);
        border-color: var(--ax-border-neutral);
    }
}

.deltattUtenLønn,
.fraværGodkjentAvNav,
.sterkeVelferdsgrunnerEllerJobbintervju {
    & select {
        background: var(--ax-bg-success-soft);
        border-color: var(--ax-border-success);
    }
}

.deltattMedLønn {
    & select {
        background: var(--ax-bg-danger-moderate);
        border-color: var(--ax-border-danger);
    }
}

.syk,
.syktBarn {
    & select {
        background: var(--ax-bg-warning-soft);
        border-color: var(--ax-border-warning);
    }
}

.fraværAnnet {
    & select {
        background: var(--ax-bg-danger-moderate);
        border-color: var(--ax-border-danger);
    }
}
