@use '../../styles/MeldekortStatusStyles.module.scss' as status;

.button {
    align-self: start;
}

.dagSelectContainer {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
}

.valideringErrorListe {
    margin: 0;
}

.ikkeTiltaksdag {
    select {
        @include status.ikkeTiltaksdag;
    }
}

.ikkeBesvart {
    select {
        @include status.ikkeBesvart;
    }
}

.deltattUtenLønn,
.fraværGodkjentAvNav {
    select {
        @include status.deltattUtenLønn;
    }
}

.deltattMedLønn {
    select {
        @include status.deltattMedLønn;
    }
}

.syk,
.syktBarn {
    select {
        @include status.syk;
    }
}

.fraværAnnet {
    select {
        @include status.fraværAnnet;
    }
}
