.wrapper {
    &:focus {
        outline: none;
    }
}

.knapperOgVarsel {
    margin-top: 3rem;
}

.knapper {
    display: flex;
    gap: 0.5rem;
}

.kalender {
    margin-top: 2rem;
}

.teller {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.varsel {
    margin-bottom: 1rem;
}

.undertekstWrapper {
    display: inline-flex;
    gap: 0.5rem;
}

.fraværValg {
    margin-bottom: 2rem;
}
