.wrapper {
    &:focus {
        outline: none;
    }
}

.undertekstWrapper {
    display: inline-flex;
    gap: 0.5rem;
}

.stepper {
    margin-bottom: 2rem;
}

.stegTitle {
    margin-bottom: 1rem;
    max-width: 768px;
}
