/**
* Mixin styles for Meldekort statuser
* Disse er fargene vi har lyst til å benytte oss av rundt omkring
*/

@mixin ikkeTiltaksdag {
    background-color: var(--ax-bg-accent-soft);
    border-color: var(--ax-bg-accent-strong);

    & > svg {
        color: var(--ax-accent-900);
    }
}

@mixin ikkeBesvart {
    background: var(--ax-bg-neutral-soft);
    border-color: var(--ax-border-neutral);

    & > svg {
        color: var(--ax-neutral-900);
    }
}

//----- Disse er samme
@mixin deltattUtenLønn {
    background: var(--ax-bg-success-soft);
    border-color: var(--ax-border-success);

    & > svg {
        color: var(--ax-success-700);
    }
}

@mixin fraværGodkjentAvNav {
    background: var(--ax-bg-success-soft);
    border-color: var(--ax-border-success);

    & > svg {
        color: var(--ax-success-700);
    }
}

@mixin sterkeVelferdsgrunnerEllerJobbintervju {
  background: var(--ax-bg-success-soft);
  border-color: var(--ax-border-success);

  & > svg {
    color: var(--ax-success-700);
  }
}
//-----

@mixin deltattMedLønn {
    background: var(--ax-bg-danger-moderate);
    border-color: var(--ax-border-danger);

    & > svg {
        color: var(--ax-danger-700);
    }
}

//----- Disse er samme
@mixin syk {
    background: var(--ax-bg-warning-soft);
    border-color: var(--ax-border-warning);

    & > svg {
        color: var(--ax-warning-700);
    }
}

@mixin syktBarn {
    background: var(--ax-bg-warning-soft);
    border-color: var(--ax-border-warning);

    & > svg {
        color: var(--ax-warning-700);
    }
}
//-----

@mixin fraværAnnet {
    background: var(--ax-bg-danger-moderate);
    border-color: var(--ax-border-danger);

    & > svg {
        color: var(--ax-danger-700);
    }
}
