/**
* Mixin styles for Meldekort statuser
* Disse er fargene vi har lyst til å benytte oss av rundt omkring
*/

@mixin ikkeTiltaksdag {
    background-color: var(--a-surface-action-subtle);
    border-color: var(--a-surface-action);

    & > svg {
        color: var(--a-blue-800);
    }
}

@mixin ikkeBesvart {
    background: var(--a-surface-subtle);
    border-color: var(--a-border-default);

    & > svg {
        color: var(--a-gray-800);
    }
}

//----- Disse er samme
@mixin deltattUtenLønn {
    background: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);

    & > svg {
        color: var(--a-green-600);
    }
}

@mixin fraværGodkjentAvNav {
    background: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);

    & > svg {
        color: var(--a-green-600);
    }
}
//-----

@mixin deltattMedLønn {
    background: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);

    & > svg {
        color: var(--a-red-600);
    }
}

//----- Disse er samme
@mixin syk {
    background: var(--a-surface-warning-subtle);
    border-color: var(--a-border-warning);

    & > svg {
        color: var(--a-orange-600);
    }
}

@mixin syktBarn {
    background: var(--a-surface-warning-subtle);
    border-color: var(--a-border-warning);

    & > svg {
        color: var(--a-orange-600);
    }
}
//-----

@mixin fraværAnnet {
    background: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);

    & > svg {
        color: var(--a-red-600);
    }
}
