.wrapper {
    margin-bottom: 2rem;
}

.separator {
    background: var(--ax-success-500);
    height: 5px;
    margin-inline: calc((100vw - 100%) / -2);
    margin-top: 1rem;
}

.header {
    margin: 0 auto;
    max-width: 768px;
}
