.valg {
    border-radius: var(--a-border-radius-large);
    padding:  0.25rem 0.5rem;
}

.DELTATT_UTEN_LØNN {
    background: var(--a-green-200);
}

.FRAVÆR_SYK{
    background-color: var(--a-orange-100);
}

.FRAVÆR_SYKT_BARN {
    background-color: var(--a-orange-200);
}

.FRAVÆR_ANNET{
    background-color: var(--a-orange-300);
}

.IKKE_DELTATT{
    background-color: var(--a-red-200);
}

.kort {
    width: 100%;
    border-radius: var(--a-border-radius-large);
    padding: 0.5rem;
    margin:0.5rem;
}
