
.deltatt {
    background: var(--a-green-100);
    border: 1px solid var(--a-green-400);

    .ikon {
        color: var(--a-green-600)
    }
}

.syk {
    background: var(--a-orange-100);
}

.syktBarn {
    background: var(--a-orange-200);
}

.annet {
    background: var(--a-orange-300);
}

.ikkeDeltatt {
    background: var(--a-red-200);
}
