.ikkeTiltaksdag {
    background-color: var(--a-surface-action-subtle);
    border-color: var(--a-surface-action);

    & > svg {
        color: var(--a-blue-800);
    }
}

.ikkeBesvart {
    background: var(--a-surface-subtle);
    border-color: var(--a-border-default);

    & > svg {
        color: var(--a-gray-800);
    }
}

.deltattUtenLønn,
.fraværGodkjentAvNav {
    background: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);

    & > svg {
        color: var(--a-green-600);
    }
}

.deltattMedLønn {
    background: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);

    & > svg {
        color: var(--a-red-600);
    }
}

.syk,
.syktBarn {
    background: var(--a-surface-warning-subtle);
    border-color: var(--a-border-warning);

    & > svg {
        color: var(--a-orange-600);
    }
}

.fraværAnnet {
    background: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);

    & > svg {
        color: var(--a-red-600);
    }
}
