.ikkeBesvart {
    background: var(--a-surface-subtle);
    border-color: var(--a-border-default);

    & > svg {
        color: var(--a-gray-800);
    }
}

.deltatt {
    background: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);

    & > svg {
        color: var(--a-green-600);
    }
}

.syk,
.syktBarn,
.annet {
    background: var(--a-surface-warning-subtle);
    border-color: var(--a-border-warning);

    & > svg {
        color: var(--a-orange-600);
    }
}

.ikkeDeltatt {
    background: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);

    & > svg {
        color: var(--a-red-600);
    }
}
