@use '../../../styles/MeldekortStatusStyles.module.scss' as status;

.ikkeTiltaksdag {
    @include status.ikkeTiltaksdag;
}

.ikkeBesvart {
    @include status.ikkeBesvart;
}

.deltattUtenLønn {
    @include status.deltattUtenLønn;
}

.fraværGodkjentAvNav {
    @include status.fraværGodkjentAvNav;
}

.sterkeVelferdsgrunnerEllerJobbintervju {
  @include status.sterkeVelferdsgrunnerEllerJobbintervju;
}

.deltattMedLønn {
    @include status.deltattMedLønn;
}

.syk {
    @include status.syk;
}

.syktBarn {
    @include status.syktBarn;
}

.fraværAnnet {
    @include status.fraværAnnet;
}
