.wrapper {
    &:focus {
        outline: none;
    }
}

.teller {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.fraværValg {
    margin-bottom: 1rem;
}

.undertekstWrapper {
    display: inline-flex;
    gap: 0.5rem;
}
