.fravær {
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--a-border-radius-large);
}

.fraværRad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.registrerKnapp {
    background: var(--a-white)
}
