.fravær {
    padding: 0.5rem;

    background: var(--a-gray-100);
    border: 1px solid var(--a-gray-400);
    border-radius: var(--a-border-radius-large);
}

.fraværRad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.registrerKnapp {
    background: var(--a-white)
}
