.fravær {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--ax-radius-8);
    align-items: center;
    min-height: 3.625rem;
}

.dato {
    white-space: nowrap;
}

.datoStatus {
    display: inline-flex;
    gap: 0.5rem;
}

.knapp {
    background: var(--ax-bg-default);
    flex-grow: 0;
    align-self: center;
}
