name: Build and test

on:
  workflow_call:
    secrets:
      READER_TOKEN:
        required: true
      SLACK_VARSEL_WEBHOOK_URL:
        required: true

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '24'
        registry-url: "https://npm.pkg.github.com"
    - name: Install dependencies
      run: npm ci
      env:
        NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
    - name: Run linting & type checking
      run: npm run lint
    - name: Build app
      run: npm run build
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      env:
        CI: true
    - name: Notify Slack in case of build failure
      if: failure() && github.ref == 'refs/heads/main'
      run: |
        curl -X POST --data-urlencode "payload={ \"attachments\": [{ \"pretext\": \"[${{ github.event.repository.name }}] Bygg eller tester feilet! :cry:\", \"color\": \"danger\", \"fields\": [ { \"title\": \"Author\", \"value\": \"$AUTHOR\", \"short\": false }, { \"title\": \"Commit\", \"value\": \"<https://github.com/${{ github.repository }}/commit/$GITHUB_SHA|$GITHUB_SHA>\", \"short\": false } ] }] }" $WEBHOOK_URL
      env:
        BRANCH: ${{ github.ref }}
        AUTHOR: ${{ github.event.pusher.name }}
        WEBHOOK_URL: ${{ secrets.SLACK_VARSEL_WEBHOOK_URL }}
